[package]
name = "rusty-aquarium"
version = "0.12.0"
authors = ["Olle Wreede <olle@wreede.se>"]
edition = "2021"

[dependencies]
macroquad = "0.3.13"
macroquad-particles = "0.1.1"
futures = "0.3.19"
nanoserde = "0.1.29"
quad-net = "0.1.1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
openssl = { version = "0.10.38", features = ["vendored"] }
# Support reading OS root certs
rustls-native-certs = "0.6.1"

# Support reading OS root certs
[target."cfg(not(target_arch = \"wasm32\"))".dependencies.ureq]
version = "2.4"
features = ["native-certs"]

# Doesn't work with android build
[profile.dev.package.'*']
opt-level = 3

[package.metadata.scripts]
build-web = "bin/build-web"
serve-web = "bin/serve-web"
build-win = "bin/build-win"
build-mac = "bin/build-mac"
build-apk = "bin/build-apk"
build-linux = "bin/build-linux"
update-example = "bin/update-example"

[package.metadata.android]
assets = "assets"
version_code = 2
version_name = "Abstract Abacus"

[package.metadata.android.activity_attributes]
"android:screenOrientation" = "userLandscape"

[profile.release]
opt-level = 'z'
lto = true
panic = 'abort'
codegen-units = 1
